body{
    background-color: lightblue;
    margin-left: 25%;
    margin-right: 25%;

}
.titulo{
    color: darkblack;
    text-align: center;
}
.img-profile{
    
    width: 200px;
    height: 200px;
    display: block;
      margin-left: auto;
      margin-right: auto;
    border-radius: 50%;
}

.h2{
    color: darkred;
    text-align: center;
}

.h4{
    text-align: center;
}

.p{
    text-align: center;
}
.png{
      display: grid;
     grid-template-columns: auto auto auto auto;
    gap: 10px;
       padding: 10px;
       width: 70px;
    height: 70px;
    align-content: center;

}

.ico{
    width: 60px;
    height: 60px;
}
.bloque{
    width: auto;
    height: 70px;	
}
.container{
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 10px;
      padding: 10px;
      align-content: center;
    
}
.grid-container{
      display: grid;
      grid-template-columns:  repeat(5, 1fr);
      gap: 10px;
      padding: 10px;
      align-content: center;
      
}
.ul{
    margin-left: 35%;
    margin-right: 20%;
}
.texto-div{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}